header {
  background-color: transparent;
  align-items: center;
  z-index: 1;

  .loggedin-user {
    background-color: $clr1;
    padding: 2px 8px;
    border-radius: 1em;
    align-self: flex-end;
    color: whitesmoke;
    span {
      background-color: $clr2;
      padding: 4px;
      margin: 10px;
      border-radius: 50%;
    }
    img {
      width: 2em;
      height: 2em;
      border-radius: 50%;
    }
  }
  .logo {
    width: 70px;
  }
  nav {
    background-color: transparent;
    height: rem(80px);
    display: flex;
    align-items: center;
    flex-basis: 100%;
    justify-content: space-between;
    .route-container {
      display: flex;
      flex-basis: em(415px);
      align-items: center;
      justify-content: space-between;
    }
    a {
      font-size: rem(16px);
      color: #fff;
      font-family: macanSemibold;
      &:hover {
        color: #1dbf73;
      }
    }
  }

  nav .active {
    color: $clr1;
  }
}
