.mobile-explore-footer-container {
	display: none;

	@include for-mobile {
		background-color: white;
		height: 50px;
		z-index: 100;
		position: fixed;
		display: flex;
		bottom: -1px;
		left: 0;
		right: 0;
		justify-content: space-between;
		box-shadow: 0px -2px 1px rgba(128, 123, 123, 0.1);
	}

	.explore-footer-icon {
		margin-top: 12px;
	}

	.mobile-explore-footer-home {
		margin-left: 15px;
	}

	.mobile-explore-footer-search {
		margin-top: 14px;
	}

	.mobile-explore-footer-profile {
		margin-right: 15px;
	}
}
