.explore-gig-category {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: rem(16px);
	font-size: rem(14px);
	color: $clr4;
	font-family: 'macanRegular';
	line-height: rem(21px);
	color: #404145;

	@include for-mobile {
		display: none;
	}

	.breadcrumb-item {
		&.last-category {
			font-size: rem(32px);
			font-weight: 700;
			padding: rem(8px) 0;
			color: #222325;
			margin-top: 1.1rem;
			width: auto;
			margin-right: 100%;
			white-space: nowrap;
		}
	}
}

.subcategory-header:hover {
	text-decoration: underline;
	cursor: pointer;
}

.explore-header-home-icon:hover {
	cursor: pointer;
}

.mobile-explore-header-container {
	display: none;

	@include for-mobile {
		background-color: white;
		z-index: 100;
		display: flex;
		top: 0px;
		position: fixed;
		left: 0;
		right: 0;
		overflow-y: hidden;
		height: 33px;
	}

	.explore-mobile-arrow {
		color: #222325;
		transform: rotate(180deg);
		margin-bottom: -6.5px;
		margin-right: 40px;
		margin-left: 15px;
		font-size: 25px;
	}

	.mobile-explore-header {
		margin-right: auto;
		margin-top: 5px;
		font-size: 20px;
		font-family: 'macanRegular';
		color: #222325;
	}

	.search-explore {
		margin-right: 15px;
		margin-top: 7px;
	}
}
