.faq-section {
    @include for-mobile-layout {

    }


    h2 {
        margin-top: rem(60px);
        font-size: rem(20px);
        margin-bottom: 8px;
        font-family: macanBold;
        color: $clr3;
    }

    .faq-item {
        display: flex;
        flex-direction: column;
        color: $clr2;
        margin-bottom: -20px;

        &:first-child {
            border-top: none;
        }
    }

    .question {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 0;
        padding: rem(20px) 0;
        font-size: rem(16px);
        font-family: macanSemibold;

        &:hover {
            cursor: pointer;
        }
    }

    .answer {
        margin-bottom: 20px;
        max-height: 0;
        overflow: hidden;
        transition: 800ms;
    }
    
   

    .show {
        // height: max-content;
        
        max-height: 500px;
    }
    
    .faq-item {
        transition: 800ms;
        border-top: 1px solid $clr6;
        &:first-of-type {
            border-top: none;
        }
    }

    .arrow-down {
        transition: 200ms;
        rotate: 90deg;
    }

    .arrow-up {
        rotate: 270deg;
        translate: 7px 0;
    }

}