.faq-section {
    h2 {
        margin-top: rem(40px);
    }

    .faq-item {
        display: flex;
        flex-direction: column;
        color: $clr2;

        &:first-child {
            border-top: none;
        }
    }

    .question {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 0;
        padding: rem(20px) 0;
        font-size: rem(16px);
        font-family: macanSemibold;
        &:hover {
            cursor: pointer;
        }
    }

    .answer {
        margin-bottom: 20px;
        height: 0;
        overflow: hidden;
        transition: 400ms;
    }

    .show {
        // height: max-content;
        height: 100px;
    }
    
    .faq-item {
        border-top: 1px solid $clr6;
        &:first-of-type {
            border-top: none;
        }
    }

    .arrow-down {
        transition: 200ms;
        rotate: 90deg;
    }

    .arrow-up {
        rotate: 270deg;
        translate: 7px 0;
    }

}