.gig-details {
    display: flex;
    // align-items: flex-start;
    flex-direction: row;
    padding: 32px 24px 0;
    .main {
        width: 59%;
    .gig-category {
        font-size: rem(14px);
        color: $clr4;
    }
    .gig-title {
        font-size: rem(28px);
        padding-bottom: 16px;
        line-height: 130%;

        margin-block-start: 0.67em;
        margin-block-end: 0.67em;

        font-family: macanBold;
        color: $clr3;
        overflow-wrap: break-word;
    }
    .gig-owner-details {
        display: flex;
        

        img {
            // overflow-clip-margin: content-box;
            height: 30px;
            line-height: rem(24px);
            // position: absolute;
            // object-fit: cover;
            font-stretch: 100%;
            border-radius: 50%;
        }

        .name {
            font-size: rem(18px);
            font-family: macanBold;
            line-height: rem(26px);
            margin-right: rem(8px);
            color: $clr4;
            &:hover {
                cursor: pointer;
            }
        }
        
        .instagram{
            font-size: rem(14px);
            line-height: rem(21px);
            color: $clr5;
            font-family: macanRegular; 
            margin-right: rem(8px);
            &:hover{
                cursor: pointer;
            } 
        }
        .level {
            font-family: macanRegular; 
            line-height: rem(21px);
            color: $clr2;
            margin-right: 8px;
        }
    }

    .gig-gallery {
        display: flex;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 40px;
        margin-inline-end: 40px;
        img{
            max-width: 100%;
            max-height: 427px;
            justify-content: center;
            position: relative;
            transition-duration: 0.4s, 0.4s;

            &:hover{
                cursor: pointer;
            }
        }
    }
}

    .sticky-packages {
        height: 790px;
        width: 35%;
    }
}
