.filter-btns-container {
	position: relative;
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 5px;
	font-size: 1em;
	font-weight: 600;
	font-family: 'Macan', sans-serif;
	gap: 10px;
	padding: 5px;
}

.filter-group {
	position: relative;
	display: inline-block;
}

.filter-btn,
.budget-btn,
.delivery-btn {
	border: 1px solid #e4e5e7;
	color: #222325;
	padding: 12px 16px;
	min-height: 48px;
	min-width: 50px;
	border-radius: 5px;
	background-color: #fff;
	font-size: 1em;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: #f8f9fa;

		span::before {
			transform: scaleY(-1);
		}
	}

	span::before {
		content: '↓';
		display: inline-block;
		margin-right: 8px;
		transition: transform 0.3s ease-in-out;
	}
}

.modal {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
	padding: 10px;
	border: 1px solid black;
	width: 316px;
	height: 210px;
	border-radius: 8px;
	z-index: 10;
	border-color: rgb(228, 229, 231);
	border-width: 0.8px;
	box-shadow: rgba(0, 0, 0, 0.14) 0px 12px 18px 0px;
	margin-top: 8px;
}

.delivery-modal {
	overflow-y: scroll;
	padding: 24px;
	transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-delay: 0.24s;
	border: 0;
	margin: 0;
	outline: 0;
	font-size: 14px;
	line-height: 22px;
	font-weight: 600;
	height: 315px;
	width: 255px;
}

.input-labels,
.input-fields {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 10px;
}

.input-fields input {
	width: calc(33% - 10px);
}

.divider-delivery {
	width: 100%;
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 234px;
}

.actions {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.apply-btn {
	color: white;
	background-color: black;
	border-radius: 4px;
	font-weight: 600;
	font-size: 1em;
	padding: 12px 24px;
	border: 1px solid transparent;
	transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
	position: absolute;
	bottom: 12px;
	right: 12px;
}

.apply-btn:hover {
	background-color: #404145;
}

.apply-btn:active {
	background-color: #222325;
}

.clear-btn {
	font-size: 1em;
	font-weight: 600;
	color: $clr2;
	transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
	position: absolute;
	bottom: 0;
	bottom: 21px;
}

.clear-btn:hover {
	color: $clr5;
}

.delivery-input {
	padding: 12px;
	width: 100%;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 600;
	line-height: 12px;
}

.delivery-input:hover {
	background-color: #40414507;
	cursor: pointer;
}
