.index-separator-line {
	margin: 35px 0;
	height: 0.2px;
	background-color: #dddddd6e;
	border: none;

	@include for-mobile {
		display: none;
	}
}

.mobile-filter-modal {
	@include for-mobile {
		background-color: #ffffff;
		position: fixed;
		min-height: 100vh;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 12345654321;

		.explore-mobile-modal-header {
			position: sticky;
			z-index: 123321;
			overflow-y: hidden;
			top: 0;
			display: flex;
			justify-content: space-between;
			box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
		}

		.close-mobile-modal-btn {
			font-size: 24px;
			color: #222325;
		}

		.header-mobile-modal-explore {
			display: inline-block;
			font-size: 24px;
			margin-top: 21px;
			color: #222325;
			margin-right: 90px;
		}

		.clear-mobile-modal-btn {
			font-family: 'macanRegular';
			font-size: 18px;
			color: #7bfaa1;
			margin-top: 16px;
			font-weight: 600;
			margin-right: 7px;
		}

		.mobile-price-filter-container {
			margin-top: 35px;
			margin-left: 20px;
		}

		.mobile-budget-input {
			width: 170px;
		}

		.right-budget-input {
			margin-right: 15px;
		}

		.minus-mobile-sign {
			margin-top: 5px;
		}

		.mobile-delivery-filter-container {
			margin-top: 40px;
			margin-left: 15px;
		}

		.mobile-delivery-header {
			margin-left: 5px;
		}

		.delivery-options-mobile {
			display: flex;
			flex-wrap: wrap;
			font-size: 16px;
			button {
				display: inline-block;
				padding: 10px 15px;
				border-radius: 8px;
				border: 2px solid #dddddd;
				background-color: #ffffff;
				cursor: pointer;
				margin-right: 10px;
				transition: all 0.3s ease;

				&:hover {
					background-color: #d8ffdf;
					border-color: #04c23d;
					color: #14ad42;
				}
			}

			.selected-delivery-option {
				background-color: #d8ffdf;
				border-color: #04c23d;
				color: #0e7e2f;
			}
		}

		.mobile-level-filter-container {
			margin-top: 40px;
			margin-left: 15px;
		}

		.mobile-level-header {
			margin-left: 5px;
		}

		.seller-mobile-options {
			display: flex;
			flex-wrap: wrap;
			font-size: 16px;
			button {
				display: inline-block;
				padding: 10px 15px;
				border-radius: 8px;
				border: 2px solid #dddddd;
				background-color: #ffffff;
				cursor: pointer;
				margin-right: 10px;
				transition: all 0.3s ease;

				&:hover {
					background-color: #d8ffdf;
					border-color: #04c23d;
					color: #0e7e2f;
				}
			}
		}

		.mobile-on-filter-container {
			margin-top: 40px;
			margin-left: 20px;
			display: flex;
		}

		.mobile-on-filter-text {
			font-size: 20px;
			margin-bottom: 0;
		}

		.switch {
			margin-left: auto;
			margin-right: 15px;
			position: relative;
			display: inline-block;
			width: 50px;
			height: 24px;

			input {
				opacity: 0;
				width: 0;
				height: 0;
			}

			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #3f963c;
				transition: 0.4s;
				border-radius: 34px;

				&:before {
					position: absolute;
					content: '';
					height: 19px;
					width: 19px;
					left: 27px;
					bottom: 3px;
					background-color: rgb(84, 235, 92);
					transition: 0.4s;
					border-radius: 50%;
				}
			}
		}

		.results-btn {
			width: 95%;
			border-radius: 4px;
			background-color: #04c23d;
			color: #ffffff;
			border: none;
			padding: 10px 0;
			position: sticky;
			bottom: 0;
			font-size: 16px;
			height: 60px;
			margin-left: 10px;
			margin-top: 10px;
			cursor: pointer;
			transition: background-color 0.3s ease;

			&:hover {
				background-color: #03a230;
			}
		}

		.results-btn-container {
			box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
			margin-top: 150px;
			position: sticky;
			bottom: 0;
		}
	}
}

.explore-pagination-container {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;

	&:hover {
		cursor: pointer;
	}

	@include for-mobile {
		display: none;
	}
}

.explore-pagination-page-num,
.explore-pagination-left-arrow,
.explore-pagination-right-arrow {
	color: #7b7f86;
	font-size: 16px;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color 0.3s ease;
	border-radius: 4px;
	margin-right: 5px;

	&:hover {
		background-color: #00ff0098;
		color: #0f880f;
	}
}

.explore-pagination-left-arrow {
	transform: rotate(180deg);
	border: 1px solid #faf7f7b0;
	border-radius: 50%;
}

.explore-pagination-right-arrow {
	border: 1px solid #faf7f7b0;
	border-radius: 50%;
}

.first-page {
	color: #000000;
	font-weight: 900;
	transform: scale(1.2);
}

.gig-list-container {
	@include for-mobile {
		scrollbar-width: 0;
	}
}
