.index-separator-line {
	margin: 35px 0;
	height: 0.2px;
	background-color: #dddddd6e;
	border: none;

	@include for-mobile {
		display: none;
	}
}

.mobile-filter-modal {
	@include for-mobile {
		background-color: #ffffff;
		position: fixed;
		min-height: 100vh;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 12345654321;
	}
}
