.gig-preview-container {
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0;
	min-width: 325px;
	// width: 325px;
	// height: 360px;

	&:hover {
		.gig-preview__info,
		.gig-preview-owner,
		.gig-preview-owner span,
		.gig-preview__title,
		.gig-preview-rate,
		.gig-preview-rate span,
		.gig-like-btn,
		.gig-preview__price,
		.gig-preview__price span {
			// color: $green1;
		}
	}

	&:hover .gig-preview__title {
		text-decoration: underline;
	}

	.gig-preview {
		border-radius: 4px;
		transition: transform 0.3s;
		// height: 430px;

		&__img-container {
			border-radius: 4px 4px 0 0;

			img.gig-preview__img {
				// width: 100%;
				height: auto;
				display: block;
			}
		}

		&__info {
			.owner-preview-container {
				margin-top: 15px;
				display: flex;
				align-items: center;
				margin-bottom: 10px;
				justify-content: space-between;
				flex-wrap: nowrap;
			}

			.gig-owner-img {
				width: 24px;
				height: 24px;
				border-radius: 50%;
				margin-right: 15px;
				margin-bottom: 3%;
				flex-shrink: 0;
			}

			.gig-preview-owner {
				font-size: 14px;
				font-weight: 700;
				color: #222325;
				height: 16px;
				cursor: pointer;
				flex-grow: 1;
			}

			.gig-owner-level {
				font-size: 14px;
				color: #404145;
				padding: 0 8px;
				height: 20px;
				font-weight: 600;
				flex-shrink: 0;
			}

			.gig-preview__title {
				cursor: pointer;
				font-size: 16px;
				font-weight: 500;
				margin: 8px 0;
				overflow: hidden;
				height: 2.4em;
				line-height: 1.2em;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
			}

			.preview-reviews-container {
				margin-top: 15px;
				display: flex;
				align-items: center;

				.preview-star,
				.gig-preview-rate,
				.gig-reviews-num {
					font-size: 16px;
					margin-right: 3px;
					font-weight: 400;
				}

				.preview-star,
				.gig-preview-rate {
					color: $clr4;
				}

				.preview-star {
					font-size: 1.2em;
				}

				.gig-reviews-num {
					color: $clr5;
				}
			}

			.gig-preview-footer-container {
				display: flex;
				justify-content: space-between;
			}

			.gig-preview__price {
				display: inline-block;
				font-size: 1em;
				text-align: right;
				color: black;
				cursor: pointer;
			}

			.gig-preview__price span {
				font-size: 1em;
				font-weight: normal;
				color: black;
				font-weight: bold;
			}
		}
	}
}
