.gig-preview-container {
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0;

	// min-width: 245px;
	width: 325px;
	height: 360px;

	@include for-narrow-layout-grid {
		width: 350px;
		height: 380px;
	}

	@include for-narrower-layout-grid {
		width: 410px;
		height: 410px;
	}

	@include for-mobile-layout-grid {
		width: 545px;
	}

	@include for-mobile {
		margin-left: 7px;
		margin-right: 7px;
		border: 0px solid #e4e5e7;
		box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
		border-radius: 10px;
		width: 400px;
		height: 140px;
	}

	&:hover .gig-preview__title {
		text-decoration: underline;
	}

	.gig-preview {
		border-radius: 4px;
		transition: transform 0.3s;
		// height: 430px;

		&__img-container {
			border-radius: 4px 4px 0 0;

			img.gig-preview__img {
				// width: 100%;
				height: auto;
				display: block;
			}
		}

		&__info {
			.owner-preview-container {
				margin-top: 15px;
				display: flex;
				align-items: center;
				margin-bottom: 10px;
				justify-content: space-between;
				flex-wrap: nowrap;

				@include for-mobile {
					display: none;
				}
			}

			.gig-owner-img {
				width: 24px;
				height: 24px;
				border-radius: 50%;
				margin-right: 8px;
				margin-bottom: 3%;
				flex-shrink: 0;
			}

			.gig-preview-owner {
				font-size: 14px;
				font-weight: 700;
				color: #222325;
				height: 16px;
				cursor: pointer;
				flex-grow: 1;
			}

			.gig-owner-level {
				font-size: 14px;
				color: #404145;
				padding: 0 8px;
				height: 20px;
				font-weight: 600;
				flex-shrink: 0;
			}

			.gig-preview__title {
				cursor: pointer;
				font-size: 16px;
				font-weight: 500;
				margin-top: 10px;
				overflow: hidden;
				color: #404145;
				height: 2.4em;
				padding-right: 5px;
				line-height: 1.2em;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				white-space: normal;

				@include for-mobile {
					position: relative;
					top: 10px;
					margin-left: 15px;
					height: 2.4em;
					font-size: 16px;
					width: 185px;
					text-align: left;
				}
			}

			.preview-reviews-container {
				margin-top: 11px;
				display: flex;
				align-items: center;

				@include for-mobile {
					margin-left: 15px;
				}

				.preview-star,
				.gig-preview-rate,
				.gig-reviews-num {
					@include for-mobile {
						position: relative;
						bottom: 80px;
						font-family: 'macanBold';
					}
					font-size: 16px;
					margin-right: 3px;
					font-weight: 400;
					margin-bottom: 7px;
				}

				.preview-star,
				.gig-preview-rate {
					color: $clr4;

					@include for-mobile {
						filter: invert(89%) sepia(15%) saturate(5231%)
							hue-rotate(343deg) brightness(103%) contrast(103%);
					}
				}

				.gig-reviews-num {
					color: #949499;
					font-family: 'macanRegular';
					font-weight: 400;
				}
			}

			.gig-preview-footer-container {
				display: flex;
				justify-content: space-between;
				padding-top: 3px;

				@include for-mobile {
					margin-left: 15px;
					position: relative;
					bottom: 15px;
					left: 85px;
					width: 50px;
				}
			}

			.gig-preview__price {
				display: inline-block;
				font-size: 0.9em;
				text-align: right;
				color: black;
				cursor: pointer;

				@include for-mobile {
					font-size: 14px;
					font-family: 'macanRegular';
					color: #949499;
				}
			}

			.gig-preview__price span {
				font-size: 1em;
				color: black;
				font-weight: bold;

				@include for-mobile {
					font-family: 'macanRegular';
					font-size: 20px;
					margin-left: 5px;
				}
			}

			@include for-mobile {
				display: inline-block;
			}
		}
	}
}

.heart-icon {
	position: relative;
	cursor: pointer;
	.heart-modal {
		display: none;
		align-items: center;
		justify-content: center;
		position: absolute;
		font-size: 16px;
		top: -295%;
		transform: translateX(-50%);
		background-color: #404145;
		width: 120px;
		height: 65px;
		border-radius: 8px;
		z-index: 10;
		box-shadow: rgba(0, 0, 0, 0.14) 0px 12px 18px 0px;
		padding-top: 17px;
	}
	.heart-modal-show {
		display: flex;
	}
}

.heart-icon.heart-modal-show .heart-modal {
	display: flex;
}

.heart-modal-text {
	color: #fff;
	position: relative;
	text-decoration: none;
	transition: 0.5s ease-in-out;
}

.heart-modal-text:hover {
	transition: 0.5s ease-in-out;
	color: rgb(23, 216, 71);
}

.heart-modal-text::before {
	background: hsla(0, 0%, 0%, 0.205);
	margin: 30[x];
	border-radius: 8px;
	content: '';
	inset: 0;
	position: absolute;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.2s ease-in-out;
	z-index: -1;
}

.heart-modal-text:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}

.speach-bubble-modal {
	position: relative;
	border-radius: 0.4em;
}

.speach-bubble-modal:after {
	content: '';
	position: absolute;
	top: 15px;
	left: -31px;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-top-color: #404145;
	border-bottom: 0;
	margin-left: -25px;
	margin-bottom: -25px;
}

.heart-modal-text:hover {
}

.mobile-heart {
	display: none;
	@include for-mobile {
		display: block;
		color: #222325;
		z-index: 555;
	}
}

.saved-modal {
	position: fixed;
	z-index: 100;
	right: 20px;
	bottom: 20px;
	background-color: #404145;
	color: #fff;
	padding: 15px 20px;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;
	cursor: pointer;
	transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
		transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	font-weight: 500;
	font-size: 16px;
	opacity: 0.95; // Slightly transparent by default
	transition: background-color 0.6s cubic-bezier(0.25, 0.8, 0.25, 1),
		transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1),
		opacity 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);

	&:hover {
		background-color: rgb(23, 216, 71);
		transform: scale(1.05);
		opacity: 1;
	}
}

// .heart-icon {
// 	position: relative;
// 	width: 24px;
// 	height: 24px;
// }

// .empty-heart,
// .filled-heart {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// }

// .empty-heart {
// 	transform: scale(1.15); /* 10% larger */
// 	z-index: -1; /* push it behind */
// }
