.gig-preview-container {
	.preview-carousel-img {
		.vueperslides__bullet .default {
			background-color: rgb(255, 255, 255);
			border: none;
			box-shadow: none;
			transition: 0.3s;
			width: 7px;
			height: 7px;
			margin-bottom: -10px;
		}

		img {
			cursor: pointer;
			border-radius: 8px;
			height: 100%;
			object-fit: cover;
		}

		.vueperslides__bullet--active .default {
			width: 12px;
			height: 12px;
		}

		.vueperslides__parallax-wrapper {
			position: relative;
			padding-bottom: 50%;
			height: 200px;
			// width: 330px;
			border-radius: 8px;
			overflow: hidden;

			@include for-narrower-layout-grid {
				width: 410px;
				height: 246px;
			}

			@include for-mobile-layout-grid {
				height: 330px;
				width: 545px;
			}
		}

		.vueperslides__arrow {
			display: flex;
			opacity: 0;
			position: absolute;
			color: #333;
			background-color: #fff;
			border-radius: 50%;
			padding: 8px;
			font-size: 0.5em;
			top: 50%;
			transform: translateY(-50%);
			width: 38px;
			height: 38px;
			transition: 0.1s ease-in-out;
		}

		.vueperslides__arrow--prev {
			left: 15%;
		}

		.vueperslides__arrow--next {
			right: 15%;
		}
		.vueperslides__arrow.vueperslides__arrow--next {
			transform: translateX(2px);
			translate: 208% -50%;

			svg {
				transform: translateX(3px);
			}
		}
		.vueperslides__arrow.vueperslides__arrow--prev {
			transform: translateX(-2px);
			translate: -208% -50%;
		}
		.vueperslides__arrow.vueperslides__arrow--next,
		.vueperslides__arrow.vueperslides__arrow--prev {
			align-items: center;
			justify-content: center;
			svg {
				height: 12px;
				width: 12px;
				padding: 0;
				stroke-width: 3;
			}
		}
	}

	&:hover {
		.vueperslides__arrow {
			display: flex;
			opacity: 1;
			transition: 0.1s ease-in-out;
		}
		.vueperslides__arrow.vueperslides__arrow--next {
			transform: translateX(2px);
			translate: 108% -50%;

			svg {
				transform: translateX(3px);
			}
		}
		.vueperslides__arrow.vueperslides__arrow--prev {
			transform: translateX(-2px);
			translate: -108% -50%;
		}
	}
}

// .gig-preview-container:hover .vueperslides__arrow {
// 	display: flex;

// }
