.gig-preview-container {
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0;
	min-width: 245px;
	width: 100%;

	&:hover {
		.gig-preview__info,
		.gig-preview-owner,
		.gig-preview-owner span,
		.gig-preview__title,
		.gig-preview-rate,
		.gig-preview-rate span,
		.gig-like-btn,
		.gig-preview__price,
		.gig-preview__price span {
			// color: $green1;
		}
	}

	&:hover .gig-preview__title {
		text-decoration: underline;
	}

	.gig-preview {
		border-radius: 4px;
		transition: transform 0.3s;
		// height: 430px;

		&__img-container {
			overflow: hidden;
			border-radius: 4px 4px 0 0;

			img.gig-preview__img {
				// width: 100%;
				height: auto;
				display: block;
			}
		}

		&__info {
			padding-top: 15px;

			.owner-preview-container {
				display: flex;
				align-items: center;
				margin-bottom: 10px;
			}

			.gig-owner-img {
				width: 24px;
				height: 24px;
				border-radius: 50%;
				margin-right: 10px;
				margin-bottom: 3%;
			}

			.gig-preview-owner {
				font-size: 1em;
				font-weight: 600;
				color: #000000;
			}

			.gig-preview-owner span {
				font-size: 0.8em;
				margin: 4px 0;
				color: gray;
			}

			.gig-preview__title {
				cursor: pointer;
				font-size: 1em;
				font-weight: 500;
				margin: 8px 0;
				overflow: hidden;
				height: 2.4em;
				line-height: 1.2em;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
			}

			.gig-preview-rate {
				display: flex;
				font-size: 1em;
				color: #000000;
				margin: 15px 0;
			}

			.preview-star {
				filter: brightness(0%) saturate(100%);
				margin-right: 4px;
				margin-left: -5px;
			}

			.gig-preview-rate span {
				font-size: 0.8em;
				color: rgb(170, 167, 167);
			}

			.gig-preview-footer-container {
				display: flex;
				justify-content: space-between;
			}

			.gig-like-btn {
				display: inline-block;
				font-size: 1em;
				color: gray;
				margin: 6px 0;
			}

			.gig-preview__price {
				display: inline-block;
				font-size: 1.1em;
				text-align: right;
				color: black;
			}

			.gig-preview__price span {
				font-size: 1.1em;
				font-weight: normal;
				color: black;
				font-weight: bold;
			}
		}
	}
}
