.hero-container {
  grid-column: 1/-1;
  height: rem(680px);
  position: relative;

  // .inside-hero-search-wrapper {
  //   position: absolute;
  //   // top: 35%;
  //   // left: 2.5%;
  //   // transform: translateY(-50%);
  //   z-index: 100;
  //   transition: opacity 0.9s;
  // }
  // img {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  //   animation: fadeAnimation 9s linear;
  // }
}

@keyframes fadeAnimation {
  0%,
  100% {
    opacity: 0.3; /* Start and end at the same opacity for smooth looping */
  }
  10%,
  90% {
    opacity: 1; /* Use 10% and 90% for smoother fade in and out */
  }
}
