.inside-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  z-index: 100;
  position: absolute;
  //   left: 50%;
  //   transform: translatex(-50%);
  height: fit-content;
  color: $clr1;

  .search-bar-wrapper {
    z-index: 1000;
  }

  h1 {
    font-family: macanBold;
    font-size: rem(48px);
  }

  i {
    font-family: domainDisplay;
    font-size: rem(48px);
  }
}
