.package-type {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid $clr6;
    padding: 0 24px;

    &:not(:first-child) {
        padding: 0 24px;
    }

    .headers {
        display: flex;
        justify-content: space-around;
        font-size: rem(16px);
        font-family: macanBold;
        color: $clr5;
        // padding: 16px;
        // height: 26px;
        flex-basis: 0%;
        flex-grow: 1;
        flex-shrink: 1;
        border-image-width: 1;
        > * {
            line-height: 24px;
            padding: 16px;
            border-bottom: 1px solid $clr6;
            &:hover {
                cursor: pointer;
            }
            &:not(:first-child){
                border-left: 1px solid $clr6;
            }
        }

    }
    .picked {
        color: $green1;
        border-bottom: 3px solid #1dbf73;
    }

    .price {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        font-size: 28px;
        font-family: macanBold;
        line-height: 24px;

        p{
            font-family: macanRegular;
            font-size: 16px;
            span {
                color: $green2;
                font-weight: 600;
            }
        }
    }
    button {
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        line-height: 100%;
        padding: 12px 24px;
        position: relative;
        text-align: center; 
        border-radius: 4px;
        color: $clr1;
        background-color: $clr7;
        &:hover {
            cursor: pointer;
        }
    }
}