.package-type {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    border: 1px solid $clr6;
    position: sticky;
    margin-top: 100px;
    top: 95px;

    &:not(:first-child) {
        padding: 0 24px;
    }

    .headers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: rem(16px);
        font-family: macanBold;
        color: $clr5;
        text-align: center;

        >* {
            line-height: 24px;
            padding: 16px;
            border-bottom: 1px solid $clr6;

            &:hover {
                cursor: pointer;
            }

            &:not(:first-child) {
                border-left: 1px solid $clr6;
            }
        }

    }

    .picked {
        color: $green1;
        border-bottom: rem(3px) solid #1dbf73;
    }

    .price {
        padding: rem(20px) rem(24px) 0;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        font-size: rem(24px);
        font-family: macanBold;
        line-height: rem(24px);
        color: $clr3;

        .save-up {
            font-family: macanRegular;
            font-size: 16px;

            span {
                color: $green2;
                font-weight: 600;
            }
        }
    }

    .package-descreption {
        padding: 20px 24px 0;
        .title {
            font-family: macanBold;
        }

    }

    .benefits {
        padding: 20px 24px ;
        font-family: macanBold;
        display: flex;
        justify-content: space-around;

    }
    .specials {
        list-style: none;
    }
}

.to-payment {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    margin: 18px 24px;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    border-radius: 4px;
    color: $clr1;
    background-color: $clr7;

    &:hover {
        cursor: pointer;
    }
    .btn-contact {
        color: $clr2;
        font-size: rem(14px);
        font-family: macanSemibold;
        margin-top: rem(20px);
        margin-bottom: rem(20px);
        border: 1px solid $clr2;
        border-radius: rem(4px);
        padding: 10px 24px;
    }
}