.orders-manager-container {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  height: rem(150px);
  margin-block: rem(40px);
  padding: rem(30px) 0;
  background-color: $clr1;
  border: 1px solid $clr6;
  border-radius: 10px;
  & > *:not(:last-child) {
    border-right: 2px solid $clr6;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 100%;
    justify-content: space-between;
    max-width: rem(250px);
    padding: 0 rem(10px);
  }
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  max-width: 100%;
  overflow-x: auto;
}

/* Add styles for the table */
table {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}
