.review-preview {
  // padding: 40px 0;
  padding-left: 0;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $clr6;
  .review-by {
    display: flex;
    row-gap: 2px;
    height: 53px;
    .review-by-name {
      p {
        padding-left: 20px;
        margin-top: -3px;
        margin-bottom: 0;
        font-family: macanSemibold;
        color: $clr3;
      }
    }
  }
  .reviewer-img {
    height: rem(48px);
    width: rem(48px);
    border-radius: 50%;
  }
  .review-rate-time {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 66px;
    font-size: rem(14px);
  }
  .country-img {
    height: rem(20px);
    width: rem(20px);
    margin-left: 20px;
    translate: 0 4px;
  }

  .country-name {
    margin-left: 10px;
    font-size: rem(14px);
    font-family: macanRegular;
    color: $clr2;
  }
  .review-txt {
    margin-bottom: 20px;
    margin-left: 68px;
  }
  
  .helpful-grid {
    display: flex;
    justify-content: flex-start;
    
  }

  .helpful {
    display: flex;
    justify-content: space-between;
    width: 160px;
    margin-left: 66px;
    margin-bottom: 40px;
    font-size: rem(14px);
    font-family: macanSemibold;
    position: relative;
  }
  .like,
  .unlike,
  .yes,
  .no {
    &:hover {
      cursor: pointer;
    }
  }
  .green {
    color: $green6;
    fill: $green6;
  }
  .red {
    color: $red1;
    fill: $red1;
  }

  .helpful-span {
    display: none;
    padding-left: 20px;
  }

  .show {
    font-size: rem(14px);
    color: $clr10;
    display: block;
  }
}
