.reviews {
    margin-top: 60px;

    .title {
        font-size: rem(20px);
        font-family: macanBold;
        margin-bottom: rem(12px);
        color: $clr3;
    }

    .sub-title {
        color: $clr3;
        font-size: rem(16px);
        font-family: macanBold;
    }

    .review-list {
        // margin-top: 40px;
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-inline-start: -40px;

        li {
            color: $clr3;
            // padding: 5px;
            // margin: 5px;
        }

        a {
            color: $clr1;
            // padding: 10px;
        }

        pre {
            background-color: #ddd;
            color: #333;
            padding: 10px 5px;
            margin: 5px;
        }
    }

    .search-form {
        display: flex;
        align-items: center;
        
        input {
            width: 307px;
            padding: 10px;
            margin: 0;
            font-size: 16px;
            height: em(42px);
            border: 1px solid #ccc;
            border-radius: 5px 0 0 5px;
            outline: none;
        }

        button {
            padding: 10px 15px;
            background-color: $clr4;
            width: rem(50px);
            height: rem(42px);
            border-radius: 0 5px 5px 0;
            fill: $clr1;
            font-weight: 400;
        }
    }


}