.review-list {
    // margin-top: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-inline-start: -40px;

    li {
        color: $clr3;
        // padding: 5px;
        // margin: 5px;
    }

    a {
        color: $clr1;
        // padding: 10px;
    }

    pre {
        background-color: #ddd;
        color: #333;
        padding: 10px 5px;
        margin: 5px;
    }
}
// put input relative//
.input-form {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    
    // justify-content: flex-start;
    // justify-self: flex-start;
}
.search-input {
    height: 41px;
    position: relative;
    width: 55%;
    padding-right: 40px;
    border: 1px solid $clr8;
    border-radius: 4px;
    transition: .15s ease-in-out;
    color: $clr2;
    font-family: macanThin;
    padding: 8px 40px 8px 12px;
}
.fa-magnifying-glass {
    height: 41px;
    width: 48px;
    padding: 13px 16px;
    border-radius: 0 4px 4px 0;
    background-color: $blue1;
    fill: $clr1;
    color: $clr1;    
}