.review-preview{
    // padding: 40px 0;
    padding-left: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid $clr6 ;
    .review-by {
        display: flex;
        row-gap: 2px;
        height: 53px;
        .review-by-name {
            p{
                padding-left: 20px;
                margin-bottom: 0;
            }
        }
    }
    img {
        height: 48px;
        width: 48px;
        border-radius: 50%;
    }
    .review-rate-time {
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

}