.search-form {
  display: flex;
  align-items: center;
  // flex: 1;
  justify-content: start;
  margin-inline: rem(30px);

  input {
    flex: 1;
    padding: 10px;
    margin: 0;
    font-size: 16px;
    height: em(42px);
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    max-width: rem(500px);
  }

  button {
    padding: 10px 15px;
    background-color: $clr4;
    width: rem(50px);
    height: rem(42px);
    border-radius: 0 5px 5px 0;
  }
}
