.dashboard-container {
  display: grid;
  grid-template-columns: minmax(auto, 400px) minmax(auto, 1000px);
  column-gap: rem(20px);
  .background {
    background-color: rgba(
      0,
      0,
      0,
      0.1
    ); /* Change the color as desired (black with 50% transparency in this case) */
    width: 100%;
    height: 100%; /* Set the height to fill the entire container */
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .tabs {
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    height: rem(50px);
    margin-block-start: rem(20px);
    background: $clr1;
    position: relative;
    a {
      font-family: macanSemibold;
      font-size: rem(16px);
      color: $clr3;
      display: flex;
      align-items: center;
      &:hover {
        box-shadow: inset 0 -4px $green1;
      }
      &.router-link-active {
        box-shadow: inset 0 -4px $green1;
      }
    }
  }

  .user-profile {
    margin-block-start: rem(10px);
    padding: rem(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
  }
  .user-info {
    max-width: rem(400px);
    height: rem(300px);
    width: 100%;
    padding: rem(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    background-color: $clr1;
    border-radius: 5px;
    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }
  }
  .user-description {
    padding: rem(20px);
    margin-block: rem(20px);
    width: 100%;
    line-height: rem(32px);
    z-index: 10;
    background-color: $clr1;

    h1 {
      font-size: rem(20px);
    }
    p {
      font-size: rem(16px);
    }
  }
}
