.gig-sort-container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include for-mobile {
		display: none;
	}
}

.current-sort {
	color: $clr4;
	cursor: pointer;
	padding: 10px 8px;
	padding-right: 0;
	font-size: 1em;
	font-weight: 600;
	border-radius: 8px;
}

.gig-count {
	margin-top: 40px;
}

.sort-by-container {
	margin-top: 40px;
}

.current-sort span::before {
	content: '〱';
	transform: rotate(270deg);
	display: inline-block;
	color: $clr4;
	cursor: pointer;
	padding: 10px 8px;
	font-size: 1em;
	font-weight: 600;
	transition: transform 0.3s ease-in-out;
}

.current-sort:hover span::before {
	transform: rotate(90deg);
}

.current-sort:hover {
	background-color: #f5f5f5;
}

.sort-modal-container {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 10;
	opacity: 1;
	height: 110px;
	width: 215px;
	padding: 20px;
	transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-delay: 0.24s;
	border: 0;
	margin: 0;
	outline: 0;
	font-size: 14px;
	line-height: 22px;
	font-weight: 600;
	color: $clr2;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.14) 0px 12px 18px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 8px;
}

.sort-modal-option {
	font-size: 1.1em;
	font-weight: 400;
	line-height: 24px;
	color: $clr3;
	cursor: pointer;
	border: 0;
	margin: 0;
	outline: 0;
	margin: 5px;
	width: 180px;
	height: 35px;
	border-radius: 4px;
	padding: 5px;
}

.sort-modal-option:hover {
	background-color: #4041450e;
}

.sort-modal-option::before {
	content: '\00a0'; /* Non-breaking space */
	display: inline-block;
	width: 14px; /* Width of checkmark */
}

.sort-modal-option.selected::before {
	content: '\2714'; /* Checkmark */
	margin-right: 1px;
}
