button {
    border:0;
    background-color: $clr1;
    color:whitesmoke;
    padding: 5px 10px;
    margin: 5px;
}

form > * {
    display: block;
    width: 200px;
    margin: 10px 0px;
}