button {
    border:0;
    background-color: $clr1;
    padding: 5px 10px;
    margin: 5px;
    &:hover {
        cursor: pointer;
    }
}

form > * {
    display: block;
    width: 200px;
    margin: 10px 0px;
}