.gig-edit {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  width: 60vw;

  &_form {
    width: 100%;
    padding: em(30px) em(15px);
    border: 1px solid $clr3;
  }

  form {
    > * {
      width: 100%;
    }
  }
}
