@font-face {
  font-family: macanThin;
  src: url(../../fonts/macan/macan-thin.woff2);
}
@font-face {
  font-family: macanRegular;
  src: url(../../fonts/macan/macan-regular.woff2);
}
@font-face {
  font-family: macanSemibold;
  src: url(../../fonts/macan/macan-semibold.woff2);
}
@font-face {
  font-family: macanBold;
  src: url(../../fonts/macan/macan-bold.woff2);
}

@font-face {
  font-family: chunkRegular;
  src: url(../../fonts/chunkfive/chunkRegular.otf);
}

@font-face {
  font-family: domainDisplay;
  src: url(../../fonts/domainDisplay/domaineDisplay-medium-italics.ttf);
}
