@font-face {
  font-family: macanThin;
  src: url(../../fonts/macan/macan-thin.ttf);
}
@font-face {
  font-family: macanRegular;
  src: url(../../fonts/macan/macan-regular.ttf);
}
@font-face {
  font-family: macanSemibold;
  src: url(../../fonts/macan/macan-semibold.ttf);
}
@font-face {
  font-family: macanBold;
  src: url(../../fonts/macan/macan-bold.ttf);
}
@font-face {
  font-family: macanExtrabold;
  src: url(../../fonts/macan/macan-extrabold.ttf);
}

@font-face {
  font-family: chunkRegular;
  src: url(../../fonts/chunkfive/chunkRegular.otf);
}
