// black&white pallete

$clr1: #ffffff;
$clr2: #62646a;
$clr3: #404145;
$clr4: #222325;
$clr5: #74767e;
$clr6: #dadbdd;
$clr7: #000;
$clr8: #fafafa;
$clr9: #b5b6ba;
$clr10: #95979d;
$clr11: #e4e5e7;

// greens

$green1: #1dbf73;
$green2: #026a5d;

// yellows

$yellow1: #ffb33e;

// blues

$blue1: #222325;
$blue2: #446ee7;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
