// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

// black&white pallete

$clr1:#ffffff;
$clr2:#62646a;
$cl3:#404145;
$clr4:#222325;
$clr5:#74767e;
$clr6: #dadbdd;


// greens

$green1: #1dbf73;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
